body, html {
    height: 100%;
}

#imageContainer {
    /* The image used */
    /* background-image: url("img_girl.jpg"); */

    /* Full height */
    height: 95%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: black;
    display: flex;
    justify-content: center;
    position: relative;

}


#imageContainer > img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}